*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    font-size: 20px;
   overflow-x: hidden;
   font-family: 'Abel', sans-serif;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
    url('../images/miti-qYreP9QOdrk-unsplash.jpg'); 
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.row-container{
    max-width: 1180px;
    margin: 0 auto;
}
.clearfix:after{
    content: '.';
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;
}
.logo{
   
    width: auto;
    height:120px;
    border-radius: 50%;
    float: left;
    margin-top: 20px;
}
.main-nav{

    float: right;
    margin-top: 60px;
}
.main-nav li{
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}
.main-nav li a{
    padding: 5px 0px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 90%;
    font-weight: 100;
}
.main-nav li a:hover{
    border-bottom:  2px solid #ff0040;
}
.main-content-header{
    text-transform: uppercase;
    width: 1180px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50% , -50%);
}
h1{
    color: #fff;
    word-spacing: 5px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: lighter;

}
.btn{
    display: inline-block;
    padding: 10px 30px;
    font-weight: lighter;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 200px;
    transition: background-color 0.2s , border 0.2s , color 0.2s ;
}
.btn-full{
    background-color: transparent;
    color: #ff0040;
    margin-right: 15px;
    border: 1px solid #ff0040;
}
.btn-full:hover{
    background-color: #fff;
}
.btn-nav{
    background-color: transparent;
    color: #fff;
    margin-right: 15px;
    border: 1px solidc;
}
.btn-nav:hover{
    background-color: rgb(182, 93, 93);
}
.colorChange{
    animation: mycolorchange 1s infinite;
}

@keyframes mycolorchange{
    0%{color: #33ccff;}
    25%{color: rgb(255, 238, 0);}
    50%{color: rgb(255, 0, 0);}
    100%{color: rgb(58, 223, 16);}
}

@media only screen and  (max-width: 1180px){
.main-content-header{
    width: 100%;
    padding: 0 2%;
}
}
@media  only screen and  (max-width: 998px){
    h1{ font-size: 200%;}
}
@media  only screen and  (max-width: 768px){
    h1{ font-size: 180%;}
    .main-nav{display: none;}
}

